doctype html
html
    head
        title It's Pizza&#33; - #{title}

        meta(charset="UTF-8")

        link(rel="stylesheet" href="/css/styles.css" type="text/css")

        link(rel="stylesheet" href="/css/slimmenu.min.css" type="text/css")
        link(rel="stylesheet" href="/css/responsiveslides.css" type="text/css")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet")

        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')

        script(src='js/jquery.slimmenu.min.js')
        script(src='js/responsiveslides.min.js')
    body
        header
            img(src="/ItsPizzaLogo.png" alt="Logo")

            nav
                div.nav
                    ul#navigation.slimmenu
                        li
                            a(href="index.html") Home
                        li
                            a(href="#") About
                        li
                            a(href="form.html") Order-Form
                        li
                            a(href="account.html") Account
                        li
                            a(href="login.html") (Login)
                        li
                            a(href="contact-us.html") Contact Us
        div.body-content
            block content

            script.
                $('#navigation').slimmenu(
                    {
                        resizeWidth: '800',
                        collapserTitle: 'Main Menu',
                        animSpeed: 'medium',
                        easingEffect: null,
                        indentChildren: false,
                        childrenIndenter: '&nbsp;'
                    });

            footer
                p Copyright &copy; 2021 It's Pizza&#33;